.post {
	background-color: white;
	max-width: 500px;
	border: 1px solid lightgray;
	margin-bottom: 45px;
}

.post__image {
	width: 100%;
	object-fit: contain;
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
}
.post__text {
	font-weight: normal;
	padding: 20px;
}

.post__header {
	display: flex;
	align-items: center;
	padding: 20px;
}

.post__avatar {
	margin-right: 10px;
}
.post__commentBox {
	display: flex;
	margin-top: 10px;
}
.post__comments {
	padding: 20px;
}

.post__input {
	flex: 0.9;
	border: none;
	padding: 10px;
	border-top: 1px solid lightgray;
}
.post__button {
	flex: 0.1;
	border: none;
	border-top: 1px solid lightgray;
	color: #6082a3;
}
.FixedHeightContainer {
	height: 60px;
	width: 450px;
	overflow-y: scroll;
	overflow-x: hidden;
}

/*SCROLLBAR MODIFICATIONS*/

.FixedHeightContainer::-webkit-scrollbar {
	width: 4px;
}

.FixedHeightContainer::-webkit-scrollbar-thumb {
	background: lightgray;
	border-radius: 4px;
}
.FixedHeightContainer::-webkit-scrollbar-track {
	background: #ffffff;
}
.invisible-scrollbar {
	display: block;
	width: 10em;
	overflow: auto;
	height: 2em;
}
